<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
  <H1>Login</H1>
  <form action="submit" method="post"form> {% csrf_token %}
      <div align="center">
        <Label>Usuario</Label>
        <input type="text" name= "username" input>
        <label>Password:</label>
        <input   type="password" name= "password"input>
        <button type="submit" >Entrar</button>
      </div>
    </form>

    {% for message in messages %}
        <div align="center">
            <strong>Erro! </strong> {{ message }}
        </div>
    {% endfor %}
</body>
</html>